@font-face {
  font-family: "Courgette";
  src: url("../images/font/curgette-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  src: url("../images/font/segoeui.ttf") format("truetype");
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #cfcfcf;
  font-family: "Courgette";
  height: 100vh;
  margin: 0;
}

header {
  background-color: #b3b3b3;
  position: fixed;
  width: 100%;
  z-index: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

iframe {
  border: 0;
}

.main {
  padding-top: 60px;
}

nav {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

nav .nav-list {
  margin: 0 auto;
  overflow: hidden;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-list__item.--logo {
  padding-top: 10px;
  width: 40px;
}

.nav-list__item a {
  text-align: left;
  width: max-content;
  text-decoration: none;
  padding: 1.05em 0.6em;
  display: block;
  color: #232320;
  font-size: 1.12em;
  position: relative;
}

.nav-list__item-title::before,
.nav-list__item-title::after {
  color: #3c3c3c;
  visibility: hidden;
}

.nav-list__item-title::before {
  content: "<";
}

.nav-list__item-title::after {
  content: "/>";
}

.nav-list__item a:hover:not(.--active) .nav-list__item-title::after,
.nav-list__item a:hover:not(.--active) .nav-list__item-title::before {
  visibility: visible;
}

.nav-list__item a.--active .nav-list__item-title::before,
.nav-list__item a.--active .nav-list__item-title::after {
  visibility: visible;
}

.nav-list__item a:hover {
  color: #3c3c3c;
  font-weight: bold;
}

footer {
  position: relative;
  bottom: 0%;
}

.footer-nav {
  padding: 5px 15%;
}

.footer-nav-list {
  margin: auto;
  width: fit-content;
  overflow: hidden;
  padding-left: 1rem;
}

.footer-nav-list__item {
  float: left;
  font-size: 1.15rem;
  padding: 1rem 2rem;
}

.footer-nav-list__item a {
  color: black;
  text-align: left;
  text-decoration: underline 0.16em rgba(0, 0, 0, 0);
  text-underline-offset: 0.4em;
  transition: text-decoration-color 300ms;
}

.footer-nav-list__item a:hover {
  text-decoration-color: rgba(0, 0, 0, 1);
}

.footer-bottom {
  font-family: sans-serif;
  font-size: 0.85rem;
  text-align: center;
  border-top: 1px solid black;
  padding: 0.7rem 0;
}

.card-wrapper {
  align-items: center;
  padding: 30px 0 0;
  margin: 0 10%;
}

.card {
  align-items: center;
  background-color: #262622;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px 10px;
  color: white;
  transition: all 0.4s ease-in-out;
}

.profile-item {
  max-width: 100%;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
}

.profile-item.--social {
  background-color: #ebebeb;
  border-radius: 10px;
  color: whitesmoke;
  transition: all 0.4s ease-in-out;
}

#avatar {
  transition: inherit;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2),
    5px 5px 5px 5px rgba(0, 0, 0, 0.15);
  max-width: 40%;
  border-radius: 50%;
}

#profile-name {
  padding: 0.25em;
  border-right: 0.12em solid transparent;
  letter-spacing: 0.17em;
}

.profile-item__link {
  padding: 2px 1em;
}

.card:hover {
  transform: translate3d(0, -8px, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover .profile-item {
  transform: translate3d(0, -8px, 0);
}

.card:hover #profile-name {
  overflow: hidden;
  border-right: 0.12em solid transparent;
  letter-spacing: 0.17em;
  animation: blink-caret 0.75s step-end 5;
}

.social-link-icon {
  max-width: 3em;
  width: 100%;
  fill: #232320;
}

.social-link-icon:hover {
  fill: #3c3c3c;
}

.card-about-item {
  padding: 0 3em;
}

.map {
  width: 100%;
  height: 400px;
  padding: 5px;
}

.map-container h2 {
  text-align: center;
}

.map-buttons {
  background-color: #333;
  color: #fff;
  border: 1px solid;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.map-button:hover:enabled {
  background-color: #fff;
  color: #333;
}

form {
  width: 80%;
}

.form__col {
  display: inline-block;
}

fieldset {
  text-align: left;
  background-color: #cfcfcf;
  font-family: "Segoe UI";
  font-size: 0.9rem;
  color: black;
  border-radius: 10px;
  border-color: transparent;
  padding: 10px 20px;
  width: 100%;
}

.form-item {
  padding: 0.3em;
}
input,
textarea {
  margin-left: 0.2em;
  background-color: #e4e2e2;
  border: 1.5px solid #0000006e;
}

input:focus-visible {
  outline: 1.8px solid black;
  outline-offset: 0px;
}

input:required:focus:invalid,
textarea:required:focus:invalid {
  background-color: rgb(255 238 238);
  border: 2px solid #f77f7f;
}

input:required:valid,
textarea:required:valid {
  background-color: rgb(237 248 233);
}

.form-item__label--required::after {
  content: " *";
  color: rgb(147, 0, 0);
  font-size: 1rem;
}

textarea#message {
  resize: none;
}

.form-item-name {
  display: flex;
  align-items: baseline;
}

#btn-submit-form {
  padding: 10px 20px;
  color: #ebebeb;
  border-radius: 3px;
  border-color: transparent;
}

#btn-submit-form:disabled {
  background-color: #f77f7f;
  cursor: not-allowed;
}

#btn-submit-form:enabled {
  background-color: #97eb16;
  cursor: pointer;
}

.field-err--required {
  opacity: 0.7;
  font-size: 0.8rem;
}

.--flex {
  display: flex;
}

.--row {
  flex-direction: row;
}

.--warning-red {
  color: rgb(147, 0, 0);
}
