@font-face {
  font-family: "Courgette";
  src: url("../images/font/curgette-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe UI";
  src: url("../images/font/segoeui.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #cfcfcf;
  font-family: "Courgette";
  height: 100vh;
  margin: 0;
}

footer .nav-list {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding-left: 1rem;
  width: 100%;
}

footer .nav-item {
  float: left;
  font-size: 1.15rem;
  align-self: flex-end;
  padding: 1rem 2rem;
}

footer .nav-item a {
  color: black;
  text-align: left;
  text-decoration: none;
}

header {
  background-color: #b3b3b3;
  position: fixed;
  width: 100%;

  z-index: 1;
}

.main {
  padding-top: 60px;
}

header nav {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

nav .nav-list {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  max-width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

nav .nav-item a {
  color: black;
  text-align: left;
  width: max-content;
  text-decoration: none;

  padding: 1.05em 0.6em;
  display: block;
  color: #232320;
  font-size: 1.12em;
  position: relative;
}

.nav-menu-link::before {
  content: "<";
  color: #3c3c3c;
  visibility: hidden;
}

.nav-menu-link::after {
  content: "/>";
  color: #3c3c3c;
  visibility: hidden;
}

nav .nav-item a:hover:not(.active) .nav-menu-link::after,
nav .nav-item a:hover:not(.active) .nav-menu-link::before {
  visibility: visible;
}
nav .nav-item a.active .nav-menu-link::before {
  visibility: visible;
}
nav .nav-item a.active .nav-menu-link::after {
  visibility: visible;
}

nav .nav-item a:hover {
  color: #3c3c3c;
}

nav .nav-item a:hover {
  font-weight: bold;
}

footer .nav-item a {
  text-decoration: underline 0.16em rgba(0, 0, 0, 0);
  text-underline-offset: 0.4em;
  transition: text-decoration-color 300ms;
}

footer .nav-item a:hover {
  text-decoration-color: rgba(0, 0, 0, 1);
}

nav .nav-item a.active {
}

footer {
  position: relative;
  bottom: 0%;
}

.nav-footer {
  padding: 5px 15%;
}

.nav-footer .nav-list {
  margin: auto;
  width: fit-content;
}

.bottom-footer {
  font-family: sans-serif;
  font-size: 0.85rem;
  text-align: center;
  border-top: 1px solid black;
  padding: 0.7rem 0;
}

.card-container {
  padding: 30px 0 0;
  margin: 0 10%;
}

.card {
  align-items: center;
  background-color: #262622;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px 10px;
  color: white;

  transition: all 0.4s ease-in-out;
}

.profile-name {
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
}

.card:hover .profile-name {
  transform: translate3d(0, -8px, 0);
}

h1 {
  padding: 0.25em;
  border-right: 0.12em solid transparent; /* The typwriter cursor */
  letter-spacing: 0.17em;
}
.card:hover h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.12em solid transparent; /* The typwriter cursor */
  letter-spacing: 0.17em; /* Adjust as needed */
  animation: blink-caret 0.75s step-end 5;
}

.card:hover {
  transform: translate3d(0, -8px, 0);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /*box-shadow: 4px 4px 10px 10px black;
  transform: scale(1.05);*/
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.page-wrapper {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.links {
  background-color: #ebebeb;
  border-radius: 10px;
  color: whitesmoke;
  transition: all 0.4s ease-in-out;
  margin: 0 auto;
}

.profile-list {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.profile-item {
  padding: 2px 1em;
}

.icon {
  max-width: 3em;
  width: 100%;
  fill: #232320;
}

.icon:hover {
  fill: #3c3c3c;
}

.profile-image-container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.profile-image {
  /*position: relative;
  transition: all 0.4s ease-in-out;
    height: 180px;
  width: 180px;*/
  transition: all 0.4s ease-in-out;

  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2),
    5px 5px 5px 5px rgba(0, 0, 0, 0.15);
  max-width: 40%;

  border-radius: 50%;
}

.card:hover .profile-image,
.card:hover .links {
  transform: translate3d(0, -8px, 0);
}

.map {
  height: 400px;
  width: 100%;
}

.block-button {
  display: block;
  display: none;
}

iframe {
  border: 0;
}

/* form */
form {
  width: 80%;
}

.form__col {
  display: inline-block;
}
fieldset {
  text-align: left;
  background-color: #cfcfcf;
  font-family: "Segoe UI";
  font-size: 0.9rem;
  color: black;
  border-radius: 10px;
  border-color: transparent;
  padding: 10px 20px;
  width: 100%;
}

.form-item {
  padding: 0.3em;
}
input,
textarea {
  margin-left: 0.2em;
  background-color: #e4e2e2;
  border: 1.5px solid #0000006e;
}

input:focus-visible {
  outline: 1.8px solid black;
  outline-offset: 0px;
}

input:required:invalid,
textarea:required:invalid {
  background-color: rgb(255 238 238);
  border: 2px solid #f77f7f;
}

input:required:valid {
  background-color: rgb(237 248 233);
}

.form-item__label--required::after {
  content: " *";
  color: rgb(147, 0, 0);
  font-size: 1rem;
}

.field-err--required {
  opacity: 0.7;
  font-size: 0.8rem;
}

.ast--red {
  color: rgb(147, 0, 0);
}

textarea#message {
  resize: none;
}

.form-item-name {
  display: flex;
  align-items: baseline;
}

#btn-submit-form {
  padding: 10px 20px;
  color: #ebebeb;
  border-radius: 3px;
  border-color: transparent;
}

#btn-submit-form:disabled {
  background-color: #f77f7f;
}
#btn-submit-form:enabled {
  background-color: greenyellow;
}

/* :required {} */

.-flex-row {
  flex-direction: row;
}

.card-about-item {
  padding: 0 3em;
}

.map-buttons {
  flex: 1;
  background-color: #333;
  color: #fff;
  border: 1px solid;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.map-button:hover {
  background-color: #fff;
  color: #333;
}
